body {
    background-color:#213451 ;
}
a {
    color: black;
}
/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#img1 {
    width: 30%;
    float: left;
    height: 30%;
}
#Titre {
    font-family: serif;
    color: #a7001e;
    font-size: 100%;
}
#img2 {
    width: 30%;
    float: right;
    height: 30%;
}


/*nav*/

#nav {
    color: black;
    background-color: beige;
}

/*section*/
#Objectifs {
    color: white;
    font-family: cursive;
    width: 100%;
}
#Nouveautés {
    color: white;
    border: 5px solid white;
    font-family: cursive;
    width: 100%;
}
#Apprentissage {
    color: white;
    font-family: cursive;
    width: 100%;
}
#Evenements {
    color: white;
    border: 5px solid white;
    font-family: cursive;
    width: 100%;
}
.h2 {
    color: black;
    text-decoration: underline;
    width: 100%;
}



@media all and (min-width:1200px){
  #align {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  .align-column {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
}