body {
    background-color:#213451 ;
}
a {
    color: black;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #e2664c;
}
/*nav*/
#nav {
    color: black;
    border: 3px solid #e2664c;
    background-color: beige;
}
/*section*/
#img1 {
    width: 100%;
}