body {
    background-color:#213451 ;
}
a {
    color: black;
}
p {
    color: aliceblue;
}
/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Titre {
    font-family: serif;
    font-size: 30px;
    margin-left: 40%;
}

/*nav*/
#nav {
    color: black;
    background-color: beige;
}
/*section*/
.presentation {
    border: solid 5px #a22a2b ;
    background-color: #a22a2b ;
}
.presentation p {
    float: right;
    text-align: center;
    font-size: 100%;
}
