body {
    background-color:#213451 ;
}
a {
    color: black;
}
/*header*/

/*nav*/
nav {
    background-color: beige;
}

/*section*/
p {
    text-align: center;
    font-family: cursive;
    color: azure;
}
.align {
    display: flex;
    flex-direction: row;
    padding-left: 30%;
}
#img1 {
    width: 20%;
    height: 80%;
}
#pdf {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}