body {
    background-color:#213451 ;
}
a {
    color: black;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Titre {
    
    padding-left: 40%;
}
/*nav*/
#nav {
    color: black;
    background-color: beige;
}
/*section*/

